{% extends "app/base.html" %}
{% block content %}

<br>
<h3>
    Select the account you want to transfer money from:
</h3>

{% if accounts %}
{% csrf_token %}
        {% for account in accounts %}
            <ul>
                <div>
                    <b>{{ account.name }}</b><br>
                    <a>Cash Available: {{ account.available_cash }}</a><br>
                    <a href="{% url 'select' account.id %}">Select Account</a>
                </div>
            </ul>
            <br>
        {% endfor %}
{% endif %}
    

{% endblock content %}
    